# Dependency directories
/node_modules
package-lock.json

# Build output
/build
/dist

# Environment variables
.env

# IDE files
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
